EXE*
*.wav
*.mp3
*.m4a
*.dll
tts_sample.exe
configs.js
msc*
node_modules
npm-debug.log
.DS_Store
dist
static
*.txt
*~
*.pyc
.grunt
.module-cache
*.gem
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
